<!doctype html>
<head><title>Test</title>
    <meta charset=utf-8> 
</head>
<body style="justify-content:center;align-content:center;display:flex;flex-direction:column;text-align:center;background:gray">
    
<h1>Krishi Network Assignment</h1> 
<ol>
   <li><a href="http://127.0.0.1:5000/posts"><h1>SAVE POST TO DB</h1></a></li> 
   <li><a href="http://127.0.0.1:5000/postshome"><h1>ALL POSTS</h1></a></li> 
   <li><a href="http://127.0.0.1:5000/weather"><h1>FETCH WEATHER</h1></a></li> 
    
   

</ol>   
</body>